<div data-controller="launchdarkly-bootstrap"
     data-launchdarkly-bootstrap-client-side-id-value="<%= @client_side_id %>"
     data-launchdarkly-bootstrap-context-value="<%= @context %>"
     data-launchdarkly-bootstrap-bootstrap-value="<%= @all_flags_state %>">
  <h1>LaunchDarkly server-side bootstrap example</h1>
  <ul>
      <li><code>normal client</code>: <span class="normal">initializing…</span></li>
      <li><code>bootstrapped client</code>: <span class="bootstrap">initializing…</span></li>
  </ul>
</div>
